<div class="gallery-teaser">
  <a href="{{ item.url }}">
    {% assign imgsplit = item.data.image | split: '/' %}
    <img
      src="{{ item.data.image}}"
      alt="{{ item.data.title }}"
      class="mb-2 full shadow-md rounded-t-md"></a>
  <h4 class="text-lg hover:underline">
    <a href="{{ item.url }}">{{ item.data.title }}</a>
  </h4>
</div>