<div class="card jekyll-linkpreview-wrapper mb-4">
	<a href="{{ link_url }}" target="_blank">
		<div class="jekyll-linkpreview-wrapper-inner clearfix">
			<img src="{{ link_image }}" class="jekyll-linkpreview-image">
			<p class="link-title mt-0 mb-2">{{ link_title  | truncatewords: 12, "..." }}</p>
			<p class="xs mb-0">{{ link_description }}</p>
			<p class="xs mt-2 mb-0">{{ link_domain }}</p>
		</div>
	</a>
</div>
