<div class="card product-purchase p-4 mb-5">

<h1 class="mb-3">{{ page.title }}</h1>

<p class="tags">
{% assign page-tags = page.tags | split: ', ' %}
{% for tag in page-tags %}
	<span class="tags">{{ tag }}</span>
{% endfor %}
</p>
<hr class="mt-3">
<p><a href="/galleries/{{ page.gallery-ref | slugify }}">« Back to gallery</a></p>
<!--
<div class="details-wrap clearfix">
<div class="details">
			<p class="s mb-0">Price:</p>
				{% for info in site.data.prices %}
					{% if info.size == page.size %}
						<p><strong>£{{ info.price }}</strong></p>
					{% endif %}
				{% endfor %}
			
		</div>

		<div class="details">
			<p class="s mb-0">Size:</p>
				{% for info in site.data.prices %}
					{% if info.size == page.size %}
						<p><strong>{{ info.size }}</strong> ({{ info.dimensions }})</p>
					{% endif %}
				{% endfor %}

		</div>
</div>
<hr>

<div class="buy-button">
	
		<div class="buy-option {{ page.title | slugify }}">
			<button class="btn btn-primary btn-lg btn-block snipcart-add-item"
			  data-item-id="{{ page.title | slugify }}"
			  data-item-price="69.99"
			  data-item-url="{{ page.url }}"
			  data-item-image="https://ik.imagekit.io/dreamco/tr:w-400/{{ page.image }}.png"
			  data-item-name="{{ page.title }}">
			  Purchase print
		</button>
		{% if page.nft %}
			<a href="{{ page.nft }}" target="_blank" class="btn btn-outline-primary btn-block mt-3">Also available as NFT</a>
		{% endif %}
		</div>
</div>





<hr>



<div class="proposition">
	<ul>
		<li><svg class="bi bi-check" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
		</svg>Museum-quality giclee print.</li>
			<li><svg class="bi bi-check" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
		</svg>Worldwide shipping included in price.</li>
			<li><svg class="bi bi-check" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
		</svg>30 day money-back guarantee.</li>
	</ul>
</div>-->
</div>
